/*.CARROUSEL */

.cajaSection {  
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: start;
height: auto;
margin: 0px;

}


.imagen {
	height: 400px;
	background-color: #EEF5F2;
	
}