/*.FOOTER */

footer { 
	width: auto;
	height: 70px;
	display: block;
	text-align: right;
	padding-right: 50px;
	padding-top: 10px;
	background-color: #0c9463;
	
 }

.imagenFooter{
	width: 40px;
	height: 40px;
	margin: 10px;
	
}